# Python cache
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo

# Virtual environments
venv/
.env/
.env.bak/
.venv/

# Build artifacts
build/
dist/

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE/editor folders
.vscode/
.idea/

# Log files
*.log
